<html>
    <head>
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>World Events Chatbot Using Hierarchical RAG</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

        </head>
        </html>
    </head>
    <body>
        <h1>World Events Chatbot Experiment Platform</h1>
        {% block body %}{% endblock %}
    </body>
</html>